eval/*.py linguist-vendored
eval/**/*.py linguist-vendored
docs/.vitepress/**/*.ts linguist-vendored
docs/.vitepress/**/*.vue linguist-vendored
docs/.vitepress/**/*.css linguist-vendored
tests/*.mjs linguist-vendored
