*.ts linguist-vendored
*.js linguist-vendored
*.mjs linguist-vendored
*.vue linguist-vendored
*.css linguist-vendored
*.py linguist-vendored
*.sh linguist-vendored
*.json linguist-vendored
*.lock linguist-vendored
docs/.vitepress/dist/** linguist-vendored
docs/.vitepress/cache/** linguist-vendored
docs/public/** linguist-vendored
